.red_block {
  width: 100px;
  height: 100px;
  background: red;
}

.blue_block {
  width: 100px;
  height: 100px;
  background: blue;
}

.green_block {
  width: 100px;
  height: 100px;
  background: green;
}

.yellow_block {
  width: 100px;
  height: 100px;
  background: yellow;
}

.gray_block {
  width: 100px;
  height: 100px;
  background: gray;
}
.purple_block {
  width: 100px;
  height: 100px;
  background: purple;
}
